

$gris-oscuro:#2F2F2F;
$gris-claro:#3d3d3d;
$blanco:whitesmoke;
$peach:#ffbd59;
$negro:black;
$gris:#545454;
$naranja:#F95738;
$peach-intenso:#fda219;

$principal:'Roboto Mono', monospace;
$sub-titulos:'Open Sans Condensed', sans-serif;
$contenidos:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
$detalles:"Work sans", sans-serif;

$width-mobile:15rem;
$radius-mobile:.5rem;
$padding-mobile:.2rem;
$font-size-mobile:.9rem;
$font-size-mobile-special:.75rem;
$margin-mobile:.2rem;